In [11]:
import pandas as pd

In [12]:
import sqlite3

In [13]:
# Загрузим данные из файла .csv в объект DataFrame
df = pd.read_csv('/Users/rustem/Desktop/events filters к тестовому Product Analyst Q1 2024.csv')

In [14]:
# Создаем подключение к базе данных SQLite
conn = sqlite3.connect('data.db')

In [15]:
# Запишем DataFrame в базу данных SQLite
df.to_sql('my_table', conn, if_exists='replace', index=False)

19092

In [26]:
# Выполним SQL-запрос для просмотра таблицы
query = """
SELECT COUNT(*), SUM(unique_events)
FROM my_table
WHERE event_action = 'price_button_submit'
"""

# Выполним запрос и выведем результаты
result = pd.read_sql(query, conn)
result

   COUNT(*)  SUM(unique_events)
0      7354               63063